body {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
}
/* CURSORS */
.mv-cursor-pointer {
  cursor: pointer;
}

/* OPACITY */
.mv-full-opacity {
  opacity: 0;
}
.mv-mid-opacity {
  opacity: 0.5;
}
.mv-not-opacity {
  opacity: 1;
}
/* OPACITY HOVER*/
.mv-full-opacity:hover {
  opacity: 0;
}
.mv-mid-opacity-hover:hover {
  opacity: 0.5;
}
.mv-not-opacity-hover:hover {
  opacity: 1;
}

.mv-center-element {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* FIGURE CONTAINER */
.mv-figure-selector-container {
  padding: 50px;
}

/* BOARD */
.board {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Espacio entre los divs */
}
.board-item {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
